Repository Azure/remote-monitoring-services-dotnet, pull requests merged in 2018-10, with the labels that each got.

#144 Fix local docker compose file for debugging
  scripts/local/docker-compose.yml
Labels: scripts & docs

#132 Add deployment status per device to deployments controller
  auth/Services.Test/UsersTest.cs
  auth/Services/data/policies/roles.json
  auth/docs/POLICIES.md
  config/WebService/v1/Controllers/PackageController.cs
  iothub-manager/Services.Test/DeploymentsTest.cs
  iothub-manager/Services.Test/DevicesTest.cs
  iothub-manager/Services.Test/helpers/ResultQuery.cs
  iothub-manager/Services/Deployments.cs
  iothub-manager/Services/Models/DeploymentMetrics.cs
  iothub-manager/WebService.Test/v1/Controllers/DeploymentsControllerTest.cs
  iothub-manager/WebService/Properties/launchSettings.json
  iothub-manager/WebService/appsettings.ini
  iothub-manager/WebService/v1/Controllers/DeploymentsController.cs
  iothub-manager/WebService/v1/Models/DeploymentApiModel.cs
  iothub-manager/WebService/v1/Models/DeploymentMetricsApiModel.cs
Labels: iothub-manager

#134 Add POST Version of Telemetry Queries
  device-telemetry/WebService.Test/Controllers/AlarmsByRuleControllerTest.cs
  device-telemetry/WebService/v1/Controllers/AlarmsByRuleController.cs
  device-telemetry/WebService/v1/Controllers/AlarmsController.cs
  device-telemetry/WebService/v1/Controllers/MessagesController.cs
  device-telemetry/WebService/v1/Models/QueryApiModel.cs
Labels: device-telemetry

#147 Add Actions to Rule model
  device-telemetry/Services.Test/ActionConverterTest.cs
  device-telemetry/Services.Test/ActionTest.cs
  device-telemetry/Services.Test/RulesTest.cs
  device-telemetry/Services/Converters/ActionConverter.cs
  device-telemetry/Services/Converters/EmailParametersConverter.cs
  device-telemetry/Services/Models/Actions/Action.cs
  device-telemetry/Services/Models/Actions/EmailAction.cs
  device-telemetry/Services/Models/Rule.cs
  device-telemetry/Services/Rules.cs
  device-telemetry/WebService.Test/WebService.Test.csproj
  device-telemetry/WebService/v1/Models/ActionApiModel.cs
  device-telemetry/WebService/v1/Models/RuleApiModel.cs
Labels: device-telemetry

#148 Remove dependendency on config for deployment creations
  iothub-manager/Services.Test/DeploymentsTest.cs
  iothub-manager/Services/Deployments.cs
  iothub-manager/Services/External/DeviceGroupApiModel.cs
  iothub-manager/Services/External/DeviceGroupConditionApiModel.cs
  iothub-manager/Services/External/DeviceGroupsClient.cs
  iothub-manager/Services/External/PackageApiModel.cs
  iothub-manager/Services/External/PackageManagementClient.cs
  iothub-manager/Services/Models/DeploymentServiceModel.cs
  iothub-manager/Services/Runtime/ServicesConfig.cs
  iothub-manager/WebService.Test/v1/Controllers/DeploymentsControllerTest.cs
  iothub-manager/WebService/DependencyResolution.cs
  iothub-manager/WebService/Properties/launchSettings.json
  iothub-manager/WebService/Runtime/Config.cs
  iothub-manager/WebService/appsettings.ini
  iothub-manager/WebService/v1/Controllers/DeploymentsController.cs
  iothub-manager/WebService/v1/Models/DeploymentApiModel.cs
Labels: iothub-manager

#143 Added TSI launch settings and other improvements
  device-simulation/scripts/docker/run
  device-simulation/scripts/docker/run.cmd
  docs/LOCAL_DEPLOYMENT.md
  scripts/local/launch/idesettings/vscode/launch.json
  scripts/local/launch/idesettings/vscode/tasks.json
Labels: scripts & docs

#149 Add actions in ASA query
  asa-manager/scripts/asa/Script.asaql
  asa-manager/scripts/asa/alarmsOnlyQuery.asaql
Labels: asa-manager

#137 Update release version in docker yaml file
  scripts/docker/docker-compose.yml
Labels: scripts & docs

#158 Add Actions Module To Telemetry
  device-telemetry/ActionsAgent.Test/ActionManagerTest.cs
  device-telemetry/ActionsAgent.Test/ActionsAgent.Test.csproj
  device-telemetry/ActionsAgent.Test/AlarmParserTest.cs
  device-telemetry/ActionsAgent.Test/Constants.cs
  device-telemetry/ActionsAgent/Actions/ActionManager.cs
  device-telemetry/ActionsAgent/Actions/AlarmParser.cs
  device-telemetry/ActionsAgent/Actions/EmailActionExecutor.cs
  device-telemetry/ActionsAgent/Actions/IActionExecutor.cs
  device-telemetry/ActionsAgent/ActionsAgent.csproj
  device-telemetry/ActionsAgent/Agent.cs
  device-telemetry/ActionsAgent/EventHub/ActionsEventProcessor.cs
  device-telemetry/ActionsAgent/EventHub/ActionsEventProcessorFactory.cs
  device-telemetry/ActionsAgent/EventHub/EventProcessorHostWrapper.cs
  device-telemetry/ActionsAgent/Models/AsaAlarmApiModel.cs
  device-telemetry/ActionsAgent/Models/EmailActionPayload.cs
  device-telemetry/ActionsAgent/data/EmailTemplate.html
  device-telemetry/README.md
  device-telemetry/Services/Models/Actions/EmailAction.cs
  device-telemetry/Services/Runtime/ServicesConfig.cs
  device-telemetry/WebService/DependencyResolution.cs
  device-telemetry/WebService/Properties/launchSettings.json
  device-telemetry/WebService/Runtime/Config.cs
  device-telemetry/WebService/Startup.cs
  device-telemetry/WebService/WebService.csproj
  device-telemetry/WebService/appsettings.ini
  device-telemetry/scripts/build
  device-telemetry/scripts/build.cmd
  device-telemetry/scripts/docker/Dockerfile
  device-telemetry/scripts/docker/docker-compose.yml
  device-telemetry/scripts/docker/run
  device-telemetry/scripts/docker/run.cmd
  device-telemetry/scripts/env-vars-check
  device-telemetry/scripts/env-vars-check.cmd
  device-telemetry/scripts/env-vars-setup
  device-telemetry/scripts/env-vars-setup.cmd
  device-telemetry/scripts/run
  device-telemetry/scripts/run.cmd
  device-telemetry/telemetry.sln
  scripts/docker/docker-compose.yml
  scripts/local/.env
  scripts/local/docker-compose.yml
Labels: device-telemetry

#169 Windows docker fix
  device-simulation/scripts/docker/run
  device-simulation/scripts/docker/run.cmd
Labels: scripts & docs

#163 Add endpoint in solution-settings for actions configuration
  config/README.md
  config/Services.Test/AzureResourceManagerClientTest.cs
  config/Services.Test/UserManagementClientTest.cs
  config/Services/Actions.cs
  config/Services/External/AzureResourceManagerClient.cs
  config/Services/External/TokenApiModel.cs
  config/Services/External/UserManagementClient.cs
  config/Services/Models/Actions/ActionSettings.cs
  config/Services/Models/Actions/ActionType.cs
  config/Services/Models/Actions/EmailActionSettings.cs
  config/Services/Runtime/ServicesConfig.cs
  config/WebService.Test/Controllers/SolutionSettingsControllerTest.cs
  config/WebService/DependencyResolution.cs
  config/WebService/Runtime/Config.cs
  config/WebService/appsettings.ini
  config/WebService/v1/Controllers/SolutionSettings.cs
  config/WebService/v1/Models/ActionSettingsApiModel.cs
  config/WebService/v1/Models/ActionSettingsListApiModel.cs
  config/config.sln
  config/docs/API_SPEC_ACTION_SETTINGS.md
  config/scripts/docker/docker-compose.yml
  config/scripts/docker/run
  config/scripts/docker/run.cmd
  config/scripts/env-vars-check
  config/scripts/env-vars-check.cmd
  config/scripts/run
  config/scripts/run.cmd
  scripts/docker/docker-compose.yml
  scripts/local/.env
  scripts/local/docker-compose.yml
Labels: config

#174 Update Rule Model to Align with Java changes
  device-telemetry/Services/Converters/ActionConverter.cs
  device-telemetry/Services/Models/Actions/Action.cs
  device-telemetry/Services/Models/Actions/EmailAction.cs
  device-telemetry/WebService/v1/Models/ActionApiModel.cs
  device-telemetry/WebService/v1/Models/RuleApiModel.cs
Labels: device-telemetry

#173 Removing IIS config for each of the web services in our microservices…
  asa-manager/WebService/Properties/launchSettings.json
  auth/.gitignore
  auth/WebService/Properties/launchSettings.json
  config/WebService/Properties/launchSettings.json
  device-telemetry/WebService/Properties/launchSettings.json
  iothub-manager/WebService/Properties/launchSettings.json
  remote-monitoring.sln
  storage-adapter/WebService/Properties/launchSettings.json
Labels: scripts & docs
