Repository Azure/remote-monitoring-services-dotnet, pull requests merged in 2018-08, with the labels that each got.

#31 Support Exceptions without stack trace
  asa-manager/WebService.Test/v1/Filters/ExceptionsFilterAttributeTest.cs
  asa-manager/WebService/v1/Filters/ExceptionsFilterAttribute.cs
  device-simulation/WebService.Test/v1/Filters/ExceptionsFilterAttributeTest.cs
  device-simulation/WebService/v1/Filters/ExceptionsFilterAttribute.cs
  device-telemetry/WebService.Test/v1/Filters/ExceptionsFilterAttributeTest.cs
  device-telemetry/WebService/v1/Filters/ExceptionsFilterAttribute.cs
  iothub-manager/WebService.Test/v1/Filters/ExceptionsFilterAttributeTest.cs
  iothub-manager/WebService/v1/Filters/ExceptionsFilterAttribute.cs
  pcs-auth/WebService.Test/v1/Filters/ExceptionsFilterAttributeTest.cs
  pcs-auth/WebService/v1/Filters/ExceptionsFilterAttribute.cs
  pcs-config/WebService.Test/v1/Filters/ExceptionsFilterAttributeTest.cs
  pcs-config/WebService/v1/Filters/ExceptionsFilterAttribute.cs
Labels: asa-manager, bug

#7 Updating scripts
  scripts/vsts/identifymstobuild.sh
Labels: scripts & docs

#30 User exp basic set up
  .gitignore
  README.md
  asa-manager/.vscode/launch.json
  asa-manager/WebService/Properties/launchSettings.json
  auth/scripts/build
  device-simulation/.vscode/launch.json
  device-simulation/.vscode/tasks.json
  device-simulation/WebService.Test/WebService.Test.csproj
  device-simulation/WebService/Program.cs
  device-simulation/WebService/Properties/launchSettings.json
  device-simulation/WebService/Startup.cs
  device-simulation/scripts/build
  device-simulation/scripts/clean-up
  device-simulation/scripts/compile
  device-simulation/scripts/docker/build
  device-simulation/scripts/docker/publish
  device-simulation/scripts/git/fix-perms.sh
  device-simulation/scripts/git/pre-commit-runner-no-sandbox.sh
  device-simulation/scripts/git/pre-commit-runner-with-sandbox.sh
  device-simulation/scripts/git/pre-commit.sh
  device-simulation/scripts/git/setup
  device-simulation/scripts/run
  device-simulation/scripts/travis
  docs/LOCAL_DEPLOYMENT.md
  iothub-manager/WebService/Properties/launchSettings.json
  remote-monitoring.sln
  scripts/local/launch/helpers/.env.sh
  scripts/local/launch/helpers/.env_uris.sh
  scripts/local/launch/helpers/.envvars.sh
  scripts/local/launch/helpers/check-dependencies.sh
  scripts/local/launch/helpers/create-azure-resources.sh
  scripts/local/launch/idesettings/vscode/launch.json
  scripts/local/launch/idesettings/vscode/tasks.json
  scripts/local/launch/os/linux/.env.sh
  scripts/local/launch/os/linux/.env_uris.sh
  scripts/local/launch/os/osx/.env.sh
  scripts/local/launch/os/osx/.env_uris.sh
  scripts/local/launch/os/win/.env_uris.cmd
  scripts/local/launch/os/win/set_env.cmd
  scripts/local/launch/start-device-simulation.cmd
  scripts/local/launch/start-device-simulation.sh
  scripts/local/launch/start.sh
  scripts/vsts/buildservices.sh
Labels: scripts & docs

#108 Changed location of local deployment file link
  README.md
Labels: scripts & docs

#107 pcs suffix removed - changes to sln files
  auth/auth.sln
  auth/auth.sln.DotSettings
  config/config.sln
  config/config.sln.DotSettings
  remote-monitoring.sln
  scripts/createsolution
  storage-adapter/storage-adapter.sln
  storage-adapter/storage-adapter.sln.DotSettings
Labels: scripts & docs

#109 User experience update some doc changes and pcs suffix removal
  docs/LOCAL_DEPLOYMENT.md
  scripts/local/launch/helpers/check-dependencies.sh
  scripts/local/launch/helpers/create-azure-resources.sh
  scripts/local/launch/idesettings/vscode/launch.json
  scripts/local/launch/idesettings/vscode/tasks.json
  scripts/local/launch/os/linux/set-env-uri.sh
  scripts/local/launch/os/osx/set-env-uri.sh
  scripts/local/launch/os/win/set-env-uri.cmd
  scripts/local/launch/start.sh
Labels: scripts & docs

#106 Add Diagnostics for Rule Create/Delete
  device-telemetry/README.md
  device-telemetry/Services.Test/RulesTest.cs
  device-telemetry/Services/External/DiagnosticsClient.cs
  device-telemetry/Services/External/DiagnosticsRequestModel.cs
  device-telemetry/Services/Rules.cs
  device-telemetry/Services/Runtime/ServicesConfig.cs
  device-telemetry/WebService.Test/Controllers/AlarmsByRuleControllerTest.cs
  device-telemetry/WebService.Test/appsettings.ini
  device-telemetry/WebService/DependencyResolution.cs
  device-telemetry/WebService/Properties/launchSettings.json
  device-telemetry/WebService/Runtime/Config.cs
  device-telemetry/WebService/appsettings.ini
Labels: device-telemetry

#113 Fix environment variable
  device-telemetry/README.md
  device-telemetry/WebService.Test/appsettings.ini
  device-telemetry/WebService/Properties/launchSettings.json
  device-telemetry/WebService/appsettings.ini
Labels: device-telemetry

#112 User experience update - start.cmd, docs
  docs/LOCAL_DEPLOYMENT.md
  scripts/local/launch/helpers/.env.sh
  scripts/local/launch/helpers/.env_uris.sh
  scripts/local/launch/helpers/.envvars.sh
  scripts/local/launch/helpers/check-dependencies.sh
  scripts/local/launch/helpers/create-azure-resources.cmd
  scripts/local/launch/helpers/create-azure-resources.sh
  scripts/local/launch/os/linux/.env.sh
  scripts/local/launch/os/osx/.env.sh
  scripts/local/launch/os/win/set_env.cmd
  scripts/local/launch/start-device-simulation.sh
  scripts/local/launch/start.cmd
  scripts/local/launch/start.sh
Labels: scripts & docs

#111 Skip creating message collection when time series insights is enabled
  asa-manager/README.md
  asa-manager/Services/Runtime/ServicesConfig.cs
  asa-manager/Services/Storage/AsaStorage.cs
  asa-manager/WebService/Properties/launchSettings.json
  asa-manager/WebService/appsettings.ini
  asa-manager/scripts/asa/alarmsOnlyQuery.asaql
  asa-manager/scripts/asa/oneline.sh
  asa-manager/scripts/docker/run
  asa-manager/scripts/docker/run.cmd
  asa-manager/scripts/env-vars-check
  asa-manager/scripts/env-vars-check.cmd
  asa-manager/scripts/env-vars-setup
  asa-manager/scripts/env-vars-setup.cmd
  asa-manager/scripts/run
  asa-manager/scripts/run.cmd
Labels: asa-manager

#104 Add configurable option to query messages from Time Series Insights
  device-telemetry/README.md
  device-telemetry/Services.Test/AlarmsTest.cs
  device-telemetry/Services.Test/MessagesTest.cs
  device-telemetry/Services.Test/RulesTest.cs
  device-telemetry/Services.Test/Services.Test.csproj
  device-telemetry/Services.Test/TimeSeries/TimeSeriesClientTest.cs
  device-telemetry/Services.Test/TimeSeries/TimeSeriesEvents.json
  device-telemetry/Services.Test/TimeSeries/TimeSeriesValueListApiModelTest.cs
  device-telemetry/Services/Alarms.cs
  device-telemetry/Services/Exceptions/TimeSeriesParseException.cs
  device-telemetry/Services/Helpers/QueryBuilder.cs
  device-telemetry/Services/Messages.cs
  device-telemetry/Services/Rules.cs
  device-telemetry/Services/Runtime/AlarmsConfig.cs
  device-telemetry/Services/Runtime/ServicesConfig.cs
  device-telemetry/Services/Runtime/StorageConfig.cs
  device-telemetry/Services/Services.csproj
  device-telemetry/Services/Storage/CosmosDB/StorageClient.cs
  device-telemetry/Services/Storage/StorageAdapter/StorageAdapterClient.cs
  device-telemetry/Services/Storage/StorageAdapter/ValueApiModel.cs
  device-telemetry/Services/Storage/StorageAdapter/ValueListApiModel.cs
  device-telemetry/Services/Storage/TimeSeries/PropertyModel.cs
  device-telemetry/Services/Storage/TimeSeries/SchemaModel.cs
  device-telemetry/Services/Storage/TimeSeries/TimeSeriesClient.cs
  device-telemetry/Services/Storage/TimeSeries/ValueApiModel.cs
  device-telemetry/Services/Storage/TimeSeries/ValueListApiModel.cs
  device-telemetry/WebService.Test/Controllers/AlarmsByRuleControllerTest.cs
  device-telemetry/WebService.Test/appsettings.ini
  device-telemetry/WebService/DependencyResolution.cs
  device-telemetry/WebService/Properties/launchSettings.json
  device-telemetry/WebService/Runtime/Config.cs
  device-telemetry/WebService/appsettings.ini
  device-telemetry/WebService/v1/Controllers/AlarmsByRuleController.cs
  device-telemetry/WebService/v1/Controllers/MessagesController.cs
  device-telemetry/WebService/v1/Controllers/StatusController.cs
  device-telemetry/WebService/v1/Models/StatusApiModel.cs
  device-telemetry/scripts/build
  device-telemetry/scripts/build.cmd
  device-telemetry/scripts/docker/docker-compose.yml
  device-telemetry/scripts/docker/run
  device-telemetry/scripts/docker/run.cmd
  device-telemetry/scripts/env-vars-check
  device-telemetry/scripts/env-vars-check.cmd
  device-telemetry/scripts/env-vars-setup
  device-telemetry/scripts/env-vars-setup.cmd
  device-telemetry/scripts/run
  device-telemetry/scripts/run.cmd
Labels: device-telemetry
