Repository Azure/remote-monitoring-services-dotnet, pull requests merged in 2018-09, with the labels that each got.

#120 Add new delivery truck to seed data and update truck rule
  config/Services/Data/default.json
Labels: config, enhancement

#122 Update build badge changes
  .travis.yml
  asa-manager/.travis.yml
  asa-manager/README.md
  auth/.travis.yml
  auth/README.md
  config/.travis.yml
  config/README.md
  device-telemetry/.travis.yml
  device-telemetry/README.md
  iothub-manager/.travis.yml
  iothub-manager/README.md
  storage-adapter/.travis.yml
  storage-adapter/README.md
Labels: scripts & docs

#125 Updates for creating default simulation for DS solution
  config/Services/Data/default.json
  config/Services/Data/device-simulation-template.json
  config/Services/External/DeviceSimulationClient.cs
  config/Services/External/SimulationApiModel.cs
  config/Services/Models/Template.cs
  config/Services/Runtime/ServicesConfig.cs
  config/Services/Seed.cs
  config/Services/Services.csproj
  config/WebService/Runtime/Config.cs
  config/WebService/appsettings.ini
Labels: config

#129 Script enhancements
  scripts/local/launch/helpers/create-azure-resources.cmd
  scripts/local/launch/helpers/create-azure-resources.sh
Labels: scripts & docs

#133 Testing asa-manager PR merge
  asa-manager/README.md
Labels: asa-manager
