Repository Azure/remote-monitoring-services-dotnet, pull requests merged in 2018-11, with the labels that each got.

#180 Increase timeout in TelemetryRulesAgent
  asa-manager/TelemetryRulesAgent/Agent.cs
Labels: asa-manager

#183 Lookup connectivity status of edge devices through module lookups
  iothub-manager/Services.Test/DevicesTest.cs
  iothub-manager/Services.Test/helpers/ResultQuery.cs
  iothub-manager/Services/Devices.cs
  iothub-manager/Services/Models/DeviceServiceModel.cs
Labels: iothub-manager

#189 Add missing ReadAll tag
  iothub-manager/WebService/v1/Controllers/DeploymentsController.cs
Labels: iothub-manager

#185 ADM API changes
  config/Services.Test/StorageTest.cs
  config/Services/Helpers/PackageValidation/EdgePackageValidator.cs
  config/Services/Helpers/PackageValidation/FirmwareUpdateMxChipValidator.cs
  config/Services/Helpers/PackageValidation/PackageValidator.cs
  config/Services/Helpers/PackageValidation/PackageValidatorFactory.cs
  config/Services/Models/ConfigTypeListServiceModel.cs
  config/Services/Models/PackageServiceModel.cs
  config/Services/Storage.cs
  config/WebService.Test/Controllers/PackageControllerTest.cs
  config/WebService/v1/Controllers/ConfigTypesController.cs
  config/WebService/v1/Controllers/PackageController.cs
  config/WebService/v1/Controllers/PackagesController.cs
  config/WebService/v1/Models/ConfigTypeListApiModel.cs
  config/WebService/v1/Models/PackageApiModel.cs
  config/scripts/docker/publish
  iothub-manager/Services.Test/DeploymentsTest.cs
  iothub-manager/Services/Deployments.cs
  iothub-manager/Services/Helpers/ConfigurationsHelper.cs
  iothub-manager/Services/Models/DeploymentMetrics.cs
  iothub-manager/Services/Models/DeploymentMetricsServiceModel.cs
  iothub-manager/Services/Models/DeploymentServiceModel.cs
  iothub-manager/Services/Models/DeviceStatusQueries.cs
  iothub-manager/WebService.Test/helpers/Constants.cs
  iothub-manager/WebService.Test/v1/Controllers/DeploymentsControllerTest.cs
  iothub-manager/WebService/v1/Controllers/DeploymentsController.cs
  iothub-manager/WebService/v1/Models/DeploymentApiModel.cs
  iothub-manager/WebService/v1/Models/DeploymentListApiModel.cs
  iothub-manager/WebService/v1/Models/DeploymentMetricsApiModel.cs
  scripts/local/launch/start-device-simulation.cmd
Labels: config, iothub-manager
